<header>
  <nav>
    <div class="nav-logo">
      <img src="/images/logo.svg" alt="MyCinemaCollector Logo">
      <span>MyCinemaCollector</span>
    </div>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/my-movies">My movies</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/login" class="btn">Log in</a></li>
    </ul>
  </nav>
</header>
