<div id="offcanvas-overlay" class="offcanvas-overlay"></div>
<aside id="offcanvas-register" class="offcanvas-register" aria-modal="true" aria-hidden="true" tabindex="-1">
  <button class="close-btn" id="close-registration" aria-label="Close registration form">&times;</button>
  <h2 class="register-title">Register</h2>
  <form class="register-form" autocomplete="off">
    <input type="text" name="username" placeholder="Username" required class="register-input">
    <input type="text" name="name" placeholder="Name" required class="register-input">
    <input type="email" name="email" placeholder="Email" required class="register-input">
    <input type="password" name="password" placeholder="Password" required class="register-input">
    <button type="submit" class="btn register-btn">Sign up</button>
  </form>
</aside>
