footer {
    background: var(--secondary-bg);
    padding: 1.2rem 0 0.7rem 0;
    text-align: center;
    border-top: 1px solid #191b22;
    margin-top: 3rem;
    margin-bottom: 0px;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 0.6rem;
}

.social-links a {
    color: var(--color-primary);
    font-size: 1.3rem;
    transition: color 0.18s, transform 0.14s;
}

.social-links a:hover {
    color: #fff;
    transform: scale(1.19);
}

footer small {
    color: var(--color-text-secondary);
    font-size: 0.92rem;
}